body {
  background-color: #4606a7;
}

.wrapper {
  padding-top: 10px;
  padding-right: 10px;
}

.main-header {
  display: flex;
  position: relative;
  margin-left: 250px;
  overflow: hidden;
  background-color: #efefef;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid rgb(171, 171, 171);
}


.main-header .navbar-nav {
  display: flex;
  flex-direction: row;
}

.main-header .navbar-nav .nav-item {
  display: block;

}

.main-header .navbar-nav .nav-item.active {
  border-bottom: 1px solid red;
}

.main-header .navbar-nav .nav-item .nav-link {
  display: block;
  height: 2.5rem;
  padding: .5rem 1rem;
}

.folding .main-header {
  margin-left: 100px;
}

.main-sidebar {
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: #4606a7;
  width: 250px;
  height: 100vh;
  overflow: hidden;
  z-index: 1038;
  transition: width 0.3s ease;
  color: rgb(198, 192, 192);
}

.main-sidebar .logo-link {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.main-sidebar .logo-link .logo-text {
  color: white;
  font-weight: 700;
  line-height: 40px;
}


.main-sidebar .sidebar_fold {
  display: block;
  padding: 10px;
  position: absolute;
  background-color: white;
  top: 20px;
  right: 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transition: all .35s ease-in-out;
}

.main-sidebar li {
  padding-left: 20px;
}

.folding .main-sidebar {
  width: 100px;
  /* transition: width 0.3s ease; */
}

.folding .main-sidebar .logo-link .logo-text {
  display: none;
}

.content-wrapper {
  margin-left: 250px;
  padding-bottom: 30px;
  background-color: #c1c1c1;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: width 0.3s ease;
}

.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-header h1 {
  font-size: 1.8rem;
}

.content-header .breadcrumb {
  display: flex;
  flex-direction: row;

}

.content-header .breadcrumb .readcrumb-item {}

.folding .content-wrapper {
  margin-left: 100px;
  transition: all .35s ease-in-out;
}